@charset 'utf-8';
@import '../scss/utils';

@keyframes height_grow {
    0% {
        height: 0;
    }

    100% {
        height: 40px;
    }
}

.title {
    text-align: center;
    font-size: 30px;

    &::before {
        content: '';
        display: block;
        width: 2px;
        margin: 0 auto 10px;
        background-color: #000;
        animation: height_grow 1s forwards;
    }
}
