@charset 'utf-8';
@import '../scss/utils';

.section_blockchain {
    padding: 50px 30px;
    margin: 0 auto;
    width: 500px;

    &[aria-hidden="true"] {
        display: none;
    }
}

.title {
    display: block;
    padding-top: 50px;
    font-size: 25px;
}

.list {
    padding: 15px 0 0 25px;
    list-style: disc;
}

.item {
    padding-top: 10px;
}
