@charset 'utf-8';
@import '../scss/utils';

.dropdown_menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -201px;
    border-bottom: 1px solid #c8c8c8;
    background-color: #fff;

    &[aria-hidden="false"] {
        display: block;
    }

    @include tablet {
        display: block;
        top: 0;
        right: 30px;
        bottom: 0;
        left: auto;
        border-bottom: none;
    }
}

.dropdown_item {
    display: block;
    line-height: 40px;
    text-align: center;
    color: #333;

    &.active,
    &:hover {
        background-color: #333;
        color: #fff;
    }

    @include tablet {
        display: inline-block;
        line-height: 100px;
        height: 100%;
        padding: 0 10px;
        position: relative;
        color: #cfcfcf;

        &.active,
        &:hover {
            background-color: #fff;
            color: #333;

            &::after {
                content: '';
                position: absolute;
                top: 12px;
                height: 3px;
                left: 10px;
                right: 10px;
                background-color: #333;
            }
        }
    }
}
