@charset 'utf-8';
@import '../scss/utils';

.header {
    padding: 10px 0;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        height: 1px;
        bottom: -1px;
        left: 0;
        right: 0;
        background-color: #ddd;
    }

    @include tablet {
        padding-left: 30px;
    }
}

.logo_title {
    text-align: center;

    @include tablet {
        text-align: left;
        display: inline-block;
    }
}

.logo_link {
    display: inline-block;
    padding: 10px 10px 5px;
}

.icon_logo {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: 70px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
